/* .fc .fc-col-header-cell {
	background-color: lightgray;
}

.fc .fc-col-header-cell-cushion {
	color: #000 !important;
}

.fc .fc-daygrid-day-number {
	color: dimgray;
} */

/* .fc .fc-event {
	background-color: blue;
	border-color: transparent;
} */




/* .fc .fc-daygrid-block-event {
	margin-left: 4px !important;
	margin-right: 4px !important;
	border-radius: 8px;
	overflow: hidden;
} */